*{ 
     margin: 0;
    }
header{
   background-image: url(banner-bg.jpg);
   background-size: cover;
   width: 100%;
   height: 600px;
    background-color: brown;
}
main {
    background-color: gray;
}
section {
    text-align: center
}
footer  {
    color: white;
    background-color: brown;
}